---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PORTAL">
	<hr id="L" />
	<hr id="R" />
	<main id="Landing">
		<header class="title_cont">
			<h1>PORTAL</h1>
			<h3>INF USM</h3>
		</header>
		<section>
			<div>
				<a class="button-light" href=""> Login </a>
				<hr />
				<a class="button-dark" href=""> Register </a>
			</div>
			<a id="log-github" href="">
				<img src="/github/purple.svg" />
				Login with github
			</a>
		</section>
		<footer>
			<small>Created by madmti</small>
		</footer>
	</main>
</Layout>

<style lang="scss">
	@keyframes Landing_footer {
		0% {
			opacity: 0%;
			height: 20px;
		}
		80% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
			height: 20px;
		}
	}
	@keyframes Landing_section {
		0% {
			opacity: 0%;
			height: 150px;
		}
		80% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
			height: 150px;
		}
	}
	@keyframes Landing_hr_L {
		0% {
			opacity: 100%;
		}
		100% {
			opacity: 0%;
			transform: translate(-300px, -50px);
		}
	}
	@keyframes Landing_hr_R {
		0% {
			opacity: 100%;
		}
		100% {
			opacity: 0%;
			transform: translate(300px, -50px);
		}
	}
	@keyframes Ladning_header {
		0% {
            width: 0px;
		}
		100% {
            width: 500px;
		}
	}

	hr:is(#L, #R) {
		position: absolute;
		z-index: 2;
		height: 50%;

        transform: translate(0, -50px);

		align-self: center;
		justify-self: center;

		border: #0fc3e8 solid 2px;
		box-shadow: #0fc3e8 0 0 1rem;
	}
	hr#L {
		animation: Landing_hr_L 400ms forwards linear;
	}
	hr#R {
		animation: Landing_hr_R 400ms forwards linear;
	}

	main#Landing {
        user-select: none;

		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;

		& * {
			overflow: hidden;
		}

		& header.title_cont {
            animation: Ladning_header 400ms linear forwards;

			position: relative;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			overflow: hidden;
			padding: 1em;

			width: 500px;
			height: 400px;

			background-image: url(/portal/oscuro.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 350px;

			& h1 {
				padding: 1rem;
				line-height: 0.8em;

				outline: solid #0fc3e8 0.2rem;
				box-shadow: #0fc3e8 0 0 10px;
			}
			& h3 {
				position: absolute;
				bottom: 60px;
			}
		}

		& section {
			animation: Landing_section 400ms 400ms forwards linear;

			display: grid;
			grid-template-rows: 3fr 2fr;
			place-items: center;

			font-weight: 600;
			font-size: 17px;
			letter-spacing: 2px;

			width: 30%;
			height: 150px;
			opacity: 0%;

			& div {
				display: flex;
				align-items: center;
				justify-content: center;

				gap: 30px;

				& hr {
					height: 50px;
					border: #0fc3e8 solid 1px;
					margin: 0;
				}
				& a {
					display: grid;
					place-items: center;

					width: 150px;
					padding: 1em;
					border-radius: 16px;
				}
			}
			& a#log-github {
				color: #9c36b5;
				outline: #9c36b5 solid 3px;

				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;

				border-radius: 10px;
				width: 410px;
				padding: 0.5em;

				& img {
					height: 30px;
				}
			}
		}
		& footer {
			animation: Landing_footer 400ms 400ms forwards linear;

			position: absolute;
			bottom: 30px;

			display: grid;
			place-items: center;

			width: 50%;
			height: 20px;
			opacity: 0%;
		}
	}
</style>
