---
import Layout from '../../layouts/Layout.astro';
import LoginForm from './loginForm';
---

<Layout title="Login">
	<main id="Login">
        <LoginForm URL={import.meta.env.URL} client:load />
    </main>
</Layout>